<h2>Contact</h2>
      <p>Please email support@simplesolutions.fake</p>
      <h3>Locations</h3>
      <div ng-repeat="location in locations">
      <ul class="location">
        <li>{{location.name}}</li>
        <li>{{location.street_address}}</li>
        <li>{{location.city}} {{location.state}}, {{location.zip}}</li>
        <li>{{location.phone}}</li>
      </ul>
     </div>