    <!-- Jumbotron -->
      <div class="jumbotron">
	      <div class="row">
		      <div class="col-md-4">
			  	<img src="http://libeltyseo.com/wp-content/uploads/2013/03/business-seo-services.png" />
		      </div>
		      <div class="col-md-8">
		        <h1>Simple Solutions</h1>
		        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
		      </div>
		 </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
       <div ng-repeat="service in services">
            <div class="col-lg-4">
              <h2>{{service.name}}</h2>
              <p>{{service.description}}</p>
            </div>
        </div>
      </div>