          <h2>Our Services!</h2>
          <div ng-repeat="service in services">
          <div class="row service">
	          <div class="col-md-2">
		          <img ng-src="http://www.ventron.com.br/wp-content/uploads/2014/09/{{service.image}}"/>
	          </div>
	          <div class="col-md-10">
		          <h3>{{service.name}}</h3>
			          <p>{{service.description}}</p>
		          <a href="contact.html" class="btn btn-primary">Contact Us</a>
	          </div>
          </div>
        </div>
